<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- 공통 설정 포함 -->
    <include resource="logback-common.xml"/>
    
    <!-- Backtest 서비스별 프로퍼티 -->
    <property name="LOG_FILE" value="${LOG_FILE:-backtest}"/>
    
    <!-- Backtest 패키지 로거 -->
    <logger name="com.muscat.backtest" level="${LOG_LEVEL}"/>
    
    <!-- Root Logger -->
    <springProfile name="!prod">
        <root level="${ROOT_LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="APPLICATION_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>
    
    <springProfile name="prod">
        <root level="${ROOT_LOG_LEVEL}">
            <appender-ref ref="APPLICATION_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>
    
</configuration>